In [67]:
# Import dependencies
import pandas as pd
import json

from geojson import Feature, FeatureCollection, Point

In [68]:
df=pd.read_csv('output_world.csv')

In [69]:
df

         sample_id  rare_earth_predict  rare_earth   latitude   longitude  au_ppm  ag_ppm                      country  sc_ppm  y_ppm  ...  sm_ppm  eu_ppm  gd_ppm  tb_ppm  dy_ppm  ho_ppm  er_ppm  tm_ppm  yb_ppm  lu_ppm
0                1                 0.0         0.0 -53.100000   73.800000     NaN     NaN  French Southern Territories     NaN    NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1                2                 0.0         0.0 -53.150000   73.670000     NaN     NaN  French Southern Territories     NaN    NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2                3                 0.0         0.0 -53.080000   73.670000     NaN     NaN  French Southern Territories     NaN    NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
3                4                 0.0         0.0 -53.150000   73.670000     NaN     NaN  French Southern Territories     NaN    NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4                5                 0.0         0.0  33.421055  130.398294     NaN     NaN                        Japan     NaN    NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
...            ...                 ...         ...        ...         ...     ...     ...                          ...     ...    ...  ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...
1022087    1022088                 0.0         0.0 -72.500000   11.500000     NaN     NaN                   Antarctica     NaN    NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1022088    1022089                 0.0         0.0 -72.500000   11.500000     NaN     NaN                   Antarctica     NaN    NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1022089    1022090                 0.0         0.0 -72.500000   11.500000     NaN     NaN                   Antarctica     NaN    NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1022090    1022091                 0.0         0.0 -72.500000   11.500000     NaN     NaN                   Antarctica     NaN    NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1022091    1022092                 0.0         0.0 -72.500000   11.500000     NaN     NaN                   Antarctica     NaN    NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

[1022092 rows x 24 columns]

In [70]:
df.fillna(0)

         sample_id  rare_earth_predict  rare_earth   latitude   longitude  au_ppm  ag_ppm                      country  sc_ppm  y_ppm  ...  sm_ppm  eu_ppm  gd_ppm  tb_ppm  dy_ppm  ho_ppm  er_ppm  tm_ppm  yb_ppm  lu_ppm
0                1                 0.0         0.0 -53.100000   73.800000     0.0     0.0  French Southern Territories     0.0    0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1                2                 0.0         0.0 -53.150000   73.670000     0.0     0.0  French Southern Territories     0.0    0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2                3                 0.0         0.0 -53.080000   73.670000     0.0     0.0  French Southern Territories     0.0    0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
3                4                 0.0         0.0 -53.150000   73.670000     0.0     0.0  French Southern Territories     0.0    0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
4                5                 0.0         0.0  33.421055  130.398294     0.0     0.0                        Japan     0.0    0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
...            ...                 ...         ...        ...         ...     ...     ...                          ...     ...    ...  ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...
1022087    1022088                 0.0         0.0 -72.500000   11.500000     0.0     0.0                   Antarctica     0.0    0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1022088    1022089                 0.0         0.0 -72.500000   11.500000     0.0     0.0                   Antarctica     0.0    0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1022089    1022090                 0.0         0.0 -72.500000   11.500000     0.0     0.0                   Antarctica     0.0    0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1022090    1022091                 0.0         0.0 -72.500000   11.500000     0.0     0.0                   Antarctica     0.0    0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1022091    1022092                 0.0         0.0 -72.500000   11.500000     0.0     0.0                   Antarctica     0.0    0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0

[1022092 rows x 24 columns]

In [71]:
df.to_json('world_output.json')

In [72]:
mini_df2=df.iloc[:5000]

In [73]:
mini_df2.describe()

         sample_id  rare_earth_predict    rare_earth     latitude    longitude       au_ppm     ag_ppm      sc_ppm       y_ppm        la_ppm  ...      sm_ppm      eu_ppm      gd_ppm      tb_ppm      dy_ppm      ho_ppm      er_ppm      tm_ppm      yb_ppm      lu_ppm
count  5000.000000         5000.000000   5000.000000  5000.000000  5000.000000    41.000000  97.000000  352.000000  425.000000    412.000000  ...  274.000000  277.000000  210.000000  267.000000  186.000000  187.000000  179.000000  178.000000  325.000000  261.000000
mean   2506.904400            0.003600     40.269739    35.762972   135.631807    73.562508   2.168629   12.957187   39.867569    168.923952  ...    7.698239    1.927283   11.172031    1.851193    5.205292    1.258590    6.039236    0.415427    5.254130    0.855438
std    1459.582145            0.059898   1339.647636     4.115693    11.635212   468.461797   6.839008   11.409710   68.309395   2315.376332  ...   16.219615    7.577726   47.214292   11.446299    5.113037    2.632224   30.991347    0.415331   22.282395    5.095375
min       1.000000            0.000000    -33.000000   -53.150000   -75.525000    -1.000000  -2.000000   -3.000000    0.210000    -20.000000  ...  -50.000000   -0.090000   -2.200000  -22.000000  -10.000000  -10.000000   -4.600000   -2.200000   -0.220000   -0.030000
25%    1250.750000            0.000000      0.000000    33.839909   132.980364     0.003000   0.040000    5.000000   15.000000     20.000000  ...    3.825000    0.809000    3.705000    0.536500    3.110000    0.590000    1.670000    0.232000    1.540000    0.230000
50%    2500.500000            0.000000      0.000000    35.259257   136.638000     0.010000   0.210000   10.097500   23.000000     33.137308  ...    5.570000    1.170000    5.300000    0.793000    4.150000    0.837000    2.300000    0.329500    2.300000    0.326000
75%    3750.250000            0.000000      0.000000    36.753000   139.629387     0.120000   1.000000   16.840000   49.400000     61.918990  ...    8.520000    1.610000    7.495000    1.105000    5.962500    1.200000    3.265000    0.497500    3.400000    0.500000
max    7352.000000            1.000000  94149.000000    45.460000   143.382000  3000.000000  50.000000   80.000000  850.000000  47000.000000  ...  226.600000  124.576000  539.000000  180.000000   48.880000   27.000000  337.000000    2.150000  362.000000   80.000000

[8 rows x 23 columns]

In [81]:
mini_df2=mini_df2.fillna(0)

In [82]:
mini_df2.to_json('mini_world.json')

In [87]:
def df_to_geojson(df, properties, lat='latitude', lon='longitude'):
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in df.iterrows():
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}
        feature['geometry']['coordinates'] = [row[lon],row[lat]]
        for prop in properties:
            feature['properties'][prop] = row[prop]
        geojson['features'].append(feature)
    return geojson

In [88]:
cols = ['sample_id','rare_earth_predict','country','rare_earth','au_ppm','ag_ppm','sc_ppm','y_ppm','la_ppm','sm_ppm','eu_ppm','gd_ppm','tb_ppm','dy_ppm','ho_ppm','er_ppm','tm_ppm','yb_ppm','lu_ppm']
geojson = df_to_geojson(mini_df2, cols)

In [89]:
with open('file.geojson', 'w', encoding='utf-8') as f:
    json.dump(geojson, f, ensure_ascii=False)

In [90]:
# save the geojson result to a file
output_filename = 'dataset.js'
with open(output_filename, 'w') as output_file:
    output_file.write('var dataset = {};'.format(geojson))