In [67]:
# Import dependencies
import pandas as pd
import json

from geojson import Feature, FeatureCollection, Point

In [68]:
df=pd.read_csv('output_world.csv')

In [69]:
df

         sample_id  rare_earth_predict  rare_earth   latitude   longitude  au_ppm  ag_ppm                      country  sc_ppm  y_ppm  ...  sm_ppm  eu_ppm  gd_ppm  tb_ppm  dy_ppm  ho_ppm  er_ppm  tm_ppm  yb_ppm  lu_ppm
0                1                 0.0         0.0 -53.100000   73.800000     NaN     NaN  French Southern Territories     NaN    NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1                2                 0.0         0.0 -53.150000   73.670000     NaN     NaN  French Southern Territories     NaN    NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2                3                 0.0         0.0 -53.080000   73.670000     NaN     NaN  French Southern Territories     NaN    NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
3                4                 0.0         0.0 -53.150000   73.670000     NaN     NaN  French Southern Territories     NaN    NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4                5                 0.0         0.0  33.421055  130.398294     NaN     NaN                        Japan     NaN    NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
...            ...                 ...         ...        ...         ...     ...     ...                          ...     ...    ...  ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...
1022087    1022088                 0.0         0.0 -72.500000   11.500000     NaN     NaN                   Antarctica     NaN    NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1022088    1022089                 0.0         0.0 -72.500000   11.500000     NaN     NaN                   Antarctica     NaN    NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1022089    1022090                 0.0         0.0 -72.500000   11.500000     NaN     NaN                   Antarctica     NaN    NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1022090    1022091                 0.0         0.0 -72.500000   11.500000     NaN     NaN                   Antarctica     NaN    NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1022091    1022092                 0.0         0.0 -72.500000   11.500000     NaN     NaN                   Antarctica     NaN    NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

[1022092 rows x 24 columns]

In [70]:
df.fillna(0)

         sample_id  rare_earth_predict  rare_earth   latitude   longitude  au_ppm  ag_ppm                      country  sc_ppm  y_ppm  ...  sm_ppm  eu_ppm  gd_ppm  tb_ppm  dy_ppm  ho_ppm  er_ppm  tm_ppm  yb_ppm  lu_ppm
0                1                 0.0         0.0 -53.100000   73.800000     0.0     0.0  French Southern Territories     0.0    0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1                2                 0.0         0.0 -53.150000   73.670000     0.0     0.0  French Southern Territories     0.0    0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2                3                 0.0         0.0 -53.080000   73.670000     0.0     0.0  French Southern Territories     0.0    0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
3                4                 0.0         0.0 -53.150000   73.670000     0.0     0.0  French Southern Territories     0.0    0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
4                5                 0.0         0.0  33.421055  130.398294     0.0     0.0                        Japan     0.0    0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
...            ...                 ...         ...        ...         ...     ...     ...                          ...     ...    ...  ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...
1022087    1022088                 0.0         0.0 -72.500000   11.500000     0.0     0.0                   Antarctica     0.0    0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1022088    1022089                 0.0         0.0 -72.500000   11.500000     0.0     0.0                   Antarctica     0.0    0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1022089    1022090                 0.0         0.0 -72.500000   11.500000     0.0     0.0                   Antarctica     0.0    0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1022090    1022091                 0.0         0.0 -72.500000   11.500000     0.0     0.0                   Antarctica     0.0    0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1022091    1022092                 0.0         0.0 -72.500000   11.500000     0.0     0.0                   Antarctica     0.0    0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0

[1022092 rows x 24 columns]

In [71]:
df.to_json('world_output.json')

In [99]:
mini_df2=df.iloc[:50000]

In [100]:
mini_df2.describe()

          sample_id  rare_earth_predict     rare_earth      latitude     longitude        au_ppm       ag_ppm       sc_ppm        y_ppm        la_ppm  ...       sm_ppm       eu_ppm        gd_ppm       tb_ppm        dy_ppm        ho_ppm       er_ppm       tm_ppm       yb_ppm       lu_ppm
count  50000.000000        50000.000000   50000.000000  50000.000000  50000.000000    725.000000  2958.000000  7091.000000  9110.000000   7884.000000  ...  5015.000000  5406.000000   4130.000000  4640.000000   3798.000000   3507.000000  3551.000000  2027.000000  6186.000000  4599.000000
mean   25001.062020            0.008420      56.340236     18.098850     -2.695193    166.585770     2.948889    15.397439    37.325154     80.745087  ...     8.872101     4.298862     16.564131     1.382006     21.423397      6.362290     7.298115     0.500130     4.119499     0.593168
std    14434.908631            0.091374     952.759696     32.848445     82.752280   2747.115204    29.813109    17.670732    82.745736    982.422155  ...    32.733739    85.536593    406.210262     6.702407    636.254126    270.484114    92.188318     0.975648    24.254264     2.871899
min        1.000000            0.000000     -73.000000    -55.500000   -179.090000     -5.000000   -20.000000   -20.000000   -10.000000   -100.000000  ...   -50.000000    -1.000000    -90.250000   -22.000000    -10.000000    -10.000000    -4.600000    -2.200000    -1.000000    -0.100000
25%    12500.750000            0.000000       0.000000    -16.875000    -70.140000      0.000000    -0.500000     5.000000    15.000000     18.375453  ...     3.380000     0.735000      3.300000     0.500000      2.700000      0.510000     1.500000     0.237000     1.500000     0.200000
50%    25000.500000            0.000000       0.000000     37.130000     14.241900      0.004900     0.045500    10.900000    25.000000     34.400000  ...     5.600000     1.110000      5.000000     0.750000      4.260000      0.810000     2.340000     0.350000     2.300000     0.330000
75%    37500.250000            0.000000       0.000000     40.800000     35.334850      0.025000     0.280000    21.000000    39.000000     56.000000  ...     8.545000     1.780000      7.600000     1.110000      6.200000      1.200000     3.300000     0.540000     3.380000     0.500000
max    52202.000000            1.000000  120320.000000     73.591330    184.750000  70000.000000  1000.000000   742.000000  2430.000000  64000.000000  ...  1500.000000  3742.000000  25420.000000   257.000000  38337.000000  15976.000000  2830.000000    25.800000  1495.000000    83.900000

[8 rows x 23 columns]

In [101]:
mini_df2=mini_df2.fillna(0)

In [102]:
mini_df2.to_json('mini_world.json')

In [103]:
def df_to_geojson(df, properties, lat='latitude', lon='longitude'):
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in df.iterrows():
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}
        feature['geometry']['coordinates'] = [row[lon],row[lat]]
        for prop in properties:
            feature['properties'][prop] = row[prop]
        geojson['features'].append(feature)
    return geojson

In [104]:
cols = ['sample_id','rare_earth_predict','country','rare_earth','au_ppm','ag_ppm','sc_ppm','y_ppm','la_ppm','sm_ppm','eu_ppm','gd_ppm','tb_ppm','dy_ppm','ho_ppm','er_ppm','tm_ppm','yb_ppm','lu_ppm']
geojson = df_to_geojson(mini_df2, cols)

In [105]:
with open('file.geojson', 'w', encoding='utf-8') as f:
    json.dump(geojson, f, ensure_ascii=False)

In [106]:
# save the geojson result to a file
output_filename = 'dataset.js'
with open(output_filename, 'w') as output_file:
    output_file.write('var dataset = {};'.format(geojson))